<div>
    <div class="task-container col-md-8 col-sm-7 no-padding-left padding-right-sm hidden-sm hidden-xs">
        <div class="panel panel-primary">
            <div class="panel-heading">便签
                <button class="btn btn-danger btn-xs pull-right">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
            <div class="panel-body"></div>
        </div>
    </div>
    <!-- 右侧边栏 -->
    <div class="slide-right col-md-4 col-sm-5 col-xs-12 padding-left-sm no-padding-right">
        <div class="panel panel-primary">
            <div class="panel-heading">任务面板</div>
            <div class="panel-body">
                <div class="task-part">
                    <form ng-submit="addTask()">
                        <input type="text" class="form-control" placeholder="需要做什么呢？" required ng-model="task.description"/>
                    </form>
                    <hr>
                    <table class="table table-striped table-hover task-list">
                        <tr ng-repeat="task in taskList track by $index">
                            <td class="text-center task-check no-padding-left no-padding-right">
                                <input type="checkbox" ng-model="task.checked"/>
                            </td>
                            <td ng-class="{'task-completed': task.checked}">
                                {{task.description}}
                            </td>
                            <td class="text-center task-operate no-padding-left no-padding-right">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-xs" ng-click="edtTask(task)">编辑</button>
                                    <button class="btn btn-danger btn-xs">删除</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>